<div class="row justify-content-center pt-2">
  <div class="card p-3" style="width: 50rem;">
    <form class="row" method="POST" action="/login">
      <div class="form-group col-12">
        <label>Email/Username</label>
        <input type="" class="form-control" name="email_or_username" />
      </div>
      <div class="form-group col-12">
        <label>Password</label>
        <input type="password" class="form-control" name="password" />
      </div>
      <div class="form-group col-12">
        New to Sangai? <a href="/register"> Register now </a>
      </div>    
      <div class="form-group col-12">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>    
  </div>
</div>
