<div class="pt-2">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab_01">
        Chat
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_01">
      Online Friends
      <li class="users-list">
        <a href="#" class="open-new-tab">anishghimire</a>
      </li>
      <li class="users-list">
        <a href="#" class="open-new-tab">krrishghimire</a>
      </li>
      <li class="users-list">
        <a href="#" class="open-new-tab">prakashghimire</a>
      </li>
      <li class="users-list">
        <a href="#" class="open-new-tab">sarojkafle</a>
      </li>
      <li class="users-list">
        <a href="#" class="open-new-tab">dipakrajbadu</a>
      </li>
    </div>
  </div>
</div>
<script>
  $(".nav-tabs").on("click", "a", function(e) {
    e.preventDefault();
    if(!$(this).hasClass('open-new-tab')) {
      $(this).tab('show');
    }
  })
  .on("click", "span", function() {
    var anchor = $(this).siblings('a');
    $(anchor.attr('href')).remove();
    $(this).parent().remove();
    $(".nav-tabs li").children('a').first().click();
  });
  $('.open-new-tab').click(function(e){
    e.preventDefault();
    var id = $(".nav-tabs").children().length;
    id++;
    var tabId = 'tab_' + id;
    const chatbox = `<%- include('./chatbox.ejs') %>`;
    $(".nav-tabs").append('<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab_' + id + '"> New Tab </a> <span>x</span> </li>');
    $('.tab-content').append('<div class="tab-pane fade" id="' + tabId + '">'+ chatbox + '</div>');
    $('.nav-tabs li:nth-child(' + id + ') a').click();
  })
</script>